server:
  servlet:
    context-path: /api/v1

spring:
  application:
    name: lazydrop

  datasource:
    hikari:
      maximum-pool-size: 15
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
    url: jdbc:postgresql://localhost:5432/lazydrop
    username: postgres
    password: A1t5nuk3
#    url: ${DB_URL}
#    username: ${DB_USER}
#    password: ${DB_PASSWORD}

  web:
    resources:
      add-mappings: false
  jpa:
    hibernate:
      ddl-auto: update


  output:
    ansi:
      enabled: always






supabase:
  url: ${SUPABASE_URL}
  anon-key: ${SUPABASE_ANON_KEY}
  jwt-secret: ${SUPABASE_JWT_SECRET}
  service-key: ${SUPABASE_SERVICE_KEY}
  bucket-name: ${SUPABASE_BUCKET_NAME}

#cors:
#  allowed-origins: ${CORS_ALLOWED_ORIGINS}

cors:
  allowed-origins: "http://localhost:3000,http://localhost:5173"


app:
  frontend-url: ${APP_FRONTEND_URL:http://localhost:3000}
  join:
    base:
      url: https://lazydrop.app/join?code=%s
  cookies:
    secure: ${APP_COOKIES_SECURE:false}


stripe:
  secret-key: ${STRIPE_TEST_SECRET_KEY}
  webhook-secret: ${STRIPE_WEBHOOK_SECRET}
  prices:
    pro: ${STRIPE_PRICE_PRO}
    plus: ${STRIPE_PRICE_PLUS}
  success-url: ${app.frontend-url}/checkout/success
  cancel-url: ${app.frontend-url}/checkout/cancel
  billing-portal: ${app.frontend-url}/account?fromPortal=1

