server:
  servlet:
    context-path: /api/v1

spring:
  application:
    name: lazydrop

  datasource:
    hikari:
      maximum-pool-size: 15
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME:${DB_USER:}}
    password: ${DATABASE_PASSWORD:${DB_PASSWORD:}}

  web:
    resources:
      add-mappings: false
  jpa:
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  output:
    ansi:
      enabled: always
supabase:
  url: ${SUPABASE_URL}
  anon-key: ${SUPABASE_ANON_KEY}
  jwt-secret: ${SUPABASE_JWT_SECRET}
  service-key: ${SUPABASE_SERVICE_KEY}
  bucket-name: ${SUPABASE_BUCKET_NAME}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}

app:
  frontend-url: ${APP_FRONTEND_URL}
  join:
    base:
      url: https://lazydrop.app/join?code=%s
  cookies:
    secure: ${APP_COOKIES_SECURE:false}


stripe:
  secret-key: ${STRIPE_TEST_SECRET_KEY}
  webhook-secret: ${STRIPE_WEBHOOK_SECRET}
  prices:
    pro: ${STRIPE_PRICE_PRO}
    plus: ${STRIPE_PRICE_PLUS}
  success-url: ${app.frontend-url}/checkout/success
  cancel-url: ${app.frontend-url}/checkout/cancel
  billing-portal: ${app.frontend-url}/account?fromPortal=1

logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.boot.autoconfigure.flyway: DEBUG


