spring:
  application:
    name: droply-backend

server:
  port: 8080

supabase:
  url: ${SUPABASE_URL}
  anon-key: ${SUPABASE_ANON_KEY}
  jwt-secret: ${SUPABASE_JWT_SECRET}
  service-key: ${SUPABASE_SERVICE_KEY}
  bucket-name: ${SUPABASE_BUCKET_NAME}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}

app:
  room:
    expiry-minutes: 10
    cleanup-interval-seconds: 500


stripe:
  secret-key: ${STRIPE_SECRET_KEY}
  webhook-secret: ${STRIPE_WEBHOOK_SECRET}
  success-url: ${STRIPE_SUCCESS_URL}
  cancel-url: ${STRIPE_CANCEL_URL}